---
import { SocialShare } from "astro-social-share";
import type { CollectionEntry } from "astro:content";

import "@/styles/global.css";

import { SITE } from "@/consts";
import PageHead from "@/components/PageHead.astro";
import PageHeader from "@/components/PageHeader.astro";
import PageFooter from "@/components/PageFooter.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Prose from "@/components/Prose.astro";
import PostSocialShare from "@/components/PostSocialShare.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, image, pubDate } = Astro.props;
---

<!doctype html>
<html lang={SITE.LANGUAGE}>
	<head>
		<PageHead title={`${title} | ${SITE.TITLE}`} description={description} />
	</head>
	<body class="border-t-8 border-amber-300">
		<PageHeader />

		<main class="py-8 px-4 mx-auto max-w-4xl">
			<article>
				<div class="flex items-center gap-x-4 text-xs">
					<FormattedDate date={pubDate} />
				</div>

				<h2
					class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
				>
					{title}
				</h2>

				<header class="mb-12 mt-6">
					<figure class="_h-96 overflow-hidden mb-4">
						<img
							transition:name="cover"
							loading="lazy"
							src={image.src}
							alt={image.alt}
							class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 aspect-2/1"
						/>
					</figure>
				</header>

				<Prose>
					<slot />
				</Prose>
			</article>

			<PostSocialShare title={title} description={description} />
		</main>

		<PageFooter />
	</body>
</html>
